{{>header}}

  {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_left align-items-center">
              <figure>
                <img src="images/IMG_0378.png" alt="ispahan" class="img-fluid" title="ispahan rahman">
              </figure>
            </div>

            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>I am a <span class="text_clr">Node.Js,Application,Backend Developer</span></h1>
              <a href="https://www.linkedin.com/in/ispahan-rahman-a3a1b8191/" target="_ispahan"><button>About me</button></a>
            </div>

            <!-- right side div -->
           
          </div>

        </div>
      </div>
    </div>

    <!-- footer section -->
{{>footer}}